# Ignite CI3 .gitignore
/application/config/database.php


# Temp and Debug files
/cookie.txt
/debug_log.txt
/debug_*.php
/peweka_db.sql
/test_*.php
create_dummy_jpg.php
create_png.php
create_product_images_table.php
update_db_categories.php
update_password.php
install_db.php

!/application/logs/index.html

# Database (SQLite)
/application/database/*.db
/application/database/*.sqlite

# Cache & Sessions
/application/cache/*
!/application/cache/index.html
!/application/cache/.htaccess
/application/session/*

# User uploads (Opsional, jika ada folder upload gambar)
/uploads/
/assets/img/products

# OS files
.DS_Store
Thumbs.db
