<?php
defined('BASEPATH') OR exit('No direct script access allowed');

$config['midtrans_server_key'] = 'YOUR_SERVER_KEY_HERE';
$config['midtrans_client_key'] = 'YOUR_CLIENT_KEY_HERE';
$config['midtrans_is_production'] = false;
$config['midtrans_is_sanitized'] = true;
$config['midtrans_is_3ds'] = true;
